html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.main {
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}

.logo {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
}

.tagline {
  font-size: 24px;
  color: white;
}

.button {
  background-color: navy;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background: white;
  color: black;
}

/*
Chat page
*/

.member-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background: teal;
  color: white;
  font-family: Roboto;
}

.message-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 30%;
  width: 70%;
  background: azure;
}
.user-info {
  background: white;
  color: teal;
  padding: 20px;
}

.logout {
  float: right;
}

.member {
    padding: 10px;
    border-bottom: solid 1px white;
}

.member:hover {
  background: white;
  color: teal;
}

.chat-info {
  background: #555 ;
  padding: 20px;
  color: white;
}

.member.active {
  font-weight: bold;
  background: azure;
  color: teal;
}

.messages {
  background: #888;
  height: 80%;
  padding: 10px;
  overflow: auto;
}
.message {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  color: teal;
  border-radius: 4px;
}

.message.by-user{
  background-color: teal;
  color: white;
}

.chat-form
{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: #888;
  padding: 20px;
}

.chat-message {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  display: bold;
  width: 100%;
}
